body {
  margin: 0;
  font-family: "articulat-cf", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #24212a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: azure;
}

/* General styles */
.app {
  font-family: "articulat-cf", sans-serif;
  padding: 2rem 2rem;
}

.add-button {
  font-size: 1rem;
  cursor: pointer;
}

button {
  font-family: "articulat-cf", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #008571;
  color: #ffffff;
  font-weight: 500;
}

.destroy {
  background: #f5003e;
}

.edit {
  background: #f5a623;
}

.filter {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
}

.sort {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

/* Grid system for task list */
.task-list {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 3fr 2fr 2fr; 
  align-items: center;
  width: 100%;
}

.task-card {
  display: contents; 
}

/* Styles for each column */
.task-card > h2:nth-of-type(1), /* ID */
.task-card > h2:nth-of-type(2), /* Title */
.task-card > .category,         /* Category */
.task-card > .priority,         /* Priority */
.task-card > p,                 /* Description */
.task-card > .deadline,         /* Due Date */
.task-card > .actions {
  text-align: center;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-bottom: 1px solid #ddd; 
  border-left: 1px solid #ddd;
  background-color: whitesmoke;
}

/* Align specific columns */
.task-card > h2:nth-of-type(1) {
  text-align: left; /* ID column */
}



/* Actions column */
.task-card > .actions {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.task-card > .actions button {
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.task-card > .actions button:hover {
  opacity: 0.8;
}

/* Modal and overlay */
.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-form {
  background: white;
  z-index: 1;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.blurred {
  z-index: 0;
  opacity: 0.8;
  filter: blur(2px);
}
